Repository democratize-technology/symbolic-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

symbolic-execution-security:
  name: Symbolic Execution Security Check
  entry: python -m pytest tests/security/ -v
  language: system
  pass_filenames: false
  always_run: false

crosshair-integration-test:
  name: CrossHair Integration Test
  entry: python -c "import subprocess; subprocess.run(['python', '-c', 'import crosshair; print(\"CrossHair available\")'], capture_output=True, shell=False)"
  language: system
  pass_filenames: false
  always_run: false

memory-leak-check:
  name: Memory Leak Detection
  entry: python tests/integration/test_memory_leak_detector.py
  language: system
  pass_filenames: false
  always_run: false

fastmcp-compliance:
  name: FastMCP Compliance Check
  entry: python -c "import main; print('FastMCP import successful')"
  language: system
  pass_filenames: false
  always_run: false

security-test-runner:
  name: Security Test Runner
  entry: python -m pytest tests/security/ -v --tb=short
  language: system
  pass_filenames: false
  always_run: false

♻️ refactor: Remove cargo cult code and vaporware tests
  COMPLIANCE_NOTES.md
  TECH_DEBT.md
  main.py
  pyproject.toml
  scripts/README.md
  scripts/verify-dependabot-config.py
  tests/demos/README.md
  tests/demos/__init__.py
  tests/demos/vulnerabilities.py
  tests/test_crosshair_section_5_1_compliance.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: Remove DI infrastructure, replace with pytest fixtures
  tests/integration/conftest.py
  tests/integration/dependency_container.py
  tests/integration/interfaces.py
  tests/integration/mocks.py
  tests/integration/request_executor.py
  tests/integration/test_architectural_improvements.py
  tests/integration/test_crosshair_failure_harness.py
  tests/integration/test_e2e_harness.py
  tests/integration/test_failing_integration_tests.py
  tests/integration/test_load_harness.py
  tests/integration/test_memory_leak_detector.py
  tests/integration/test_runner.py
  tests/integration/test_security_harness.py
Due: security-test-runner

♻️ refactor: Remove cargo cult code and vaporware tests
  COMPLIANCE_NOTES.md
  VERSION_MANAGEMENT.md
  _version.py
  main.py
  pyproject.toml
  scripts/sync_version.py
  tests/demos/vulnerabilities.py
  tests/integration/conftest.py
  tests/integration/mocks.py
  tests/integration/test_architectural_improvements.py
  tests/integration/test_crosshair_failure_harness.py
  tests/integration/test_e2e_harness.py
  tests/integration/test_load_harness.py
  tests/integration/test_runner.py
  version_manager.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

refactor: Remove cargo cult tests and fix validation security
  main.py
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/test_failing_integration_tests.py
  tests/integration/test_memory_leak_detector.py
  tests/integration/test_security_harness.py
  tests/test_allowed_modules_whitelist.py
  tests/test_realistic_import_blocking.py
  tests/test_restricted_importer.py
  tests/test_security_bypass_vulnerability.py
  tests/test_validation.py
  tests/test_validation_integration.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: Remove cargo cult and vaporware code
  .flake8
  main.py
  tests/integration/conftest.py
  tests/test_branch_analysis.py
  tests/test_validation.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

feat: fix CrossHair API integration and improve error handling
  .pre-commit-config.yaml
  main.py
  tests/test_integration.py
  tests/test_real_crosshair_integration.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: extract temporary module context manager to prevent resource leak
  main.py
  tests/test_resource_cleanup.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: use UUID-based module names to prevent collision
  main.py
  tests/test_module_name_uniqueness.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: replace unsafe integer parsing with EAFP pattern
  main.py
  tests/test_integer_parsing.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: add ValueError handling for inspect.signature calls
  main.py
  tests/test_exception_handling.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: add threading.Lock for sys.modules thread safety
  main.py
  tests/test_concurrent_safety.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: replace ast.walk() with NodeVisitor for complexity calculation
  main.py
  tests/test_complexity_calculation.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

refactor: use Union from typing for type annotation consistency
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: add bounds checking for AST import pattern matching
  main.py
  tests/test_ast_edge_case_indexerror.py
  tests/test_validation.py
  tests/test_validation_edge_cases.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

security: add mask_error_details to FastMCP initialization
  main.py
  tests/test_fastmcp_security.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

feat: add coverage_estimate field to tool output
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: add actual_result and path_condition to counterexamples
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

test: update resource cleanup test for valid status values
  tests/test_resource_cleanup.py
Due: security-test-runner

fix: remediate 6 AI-written heuristics that don't scale
  main.py
  tests/conftest.py
  tests/test_symbolic_schema_compliance.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: replace loose Dict[str, Any] with TypedDict classes
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: tighten TypedDict definitions and fix type annotations
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: replace Any and bare Dict with specific types
  main.py
  scripts/check_fastmcp_compatibility.py
  scripts/setup_dev.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

chore: remove no-commit-to-branch pre-commit hook
  .pre-commit-config.yaml
  main.py
  tests/integration/conftest.py
  tests/test_symbolic_schema_compliance.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

💄 style: apply pre-commit auto-fixes from previous commit
  .bandit
  .commitlint.yaml
  .editorconfig
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/health-check.yml
  .plan/architecture_review_scalability_fixes_2026-02-08.md
  .pylintrc
  LICENSE
  SECURITY.md
  docs/dependabot-configuration.md
  spec/Symbolic Execution MCP Specification.md
  tests/test_ast_edge_case_indexerror.py
  tests/test_complexity_calculation.py
  tests/test_concurrent_safety.py
  tests/test_crosshair_initialization_integration.py
  tests/test_equivalence_check.py
  tests/test_exception_handling.py
  tests/test_fastmcp_security.py
  tests/test_find_path_to_exception_schema.py
  tests/test_integer_parsing.py
  tests/test_module_name_uniqueness.py
  tests/test_symbolic_finds_bug.py
  tests/test_unreachable_exception.py
  tests/test_validation_edge_cases.py
Due: security-test-runner

♻️ refactor: modernize type annotations to PEP 585/604
  main.py
  tests/test_concurrent_safety.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: modernize type annotations to PEP 585/604 style
  scripts/check_fastmcp_compatibility.py
  scripts/setup_dev.py
Due: security-test-runner

fix: add return type annotation to main() function
  scripts/check_fastmcp_compatibility.py
Due: security-test-runner

fix: correct return type for check_fastmcp_installation()
  scripts/check_fastmcp_compatibility.py
Due: security-test-runner

fix: correct return type for check_api_compatibility()
  scripts/check_fastmcp_compatibility.py
Due: security-test-runner

feat: add TypedDict for compatibility_results attribute
  scripts/check_fastmcp_compatibility.py
Due: security-test-runner

fix: correct return type for run_compatibility_tests()
  scripts/check_fastmcp_compatibility.py
Due: security-test-runner

fix: use textwrap.dedent in validate_code for AST parsing consistency
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

refactor: use os.remove() instead of os.unlink() for clarity
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

perf: avoid duplicate inspect.signature() calls
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

perf: eliminate redundant AST traversal in validate_code
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

refactor: replace magic number with named constant
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: extract timeout magic number to named constant
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: remove dead code and unused variables (TD-SYM-001, TD-SYM-002)
  TECH_DEBT.md
  main.py
  tests/test_exception_handling.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

📝 docs: establish NASA-style ADR system with 8 architecture decisions
  docs/adr/000-template.md
  docs/adr/001-framework-selection.md
  docs/adr/002-symbolic-engine.md
  docs/adr/003-security-model.md
  docs/adr/004-resource-limits.md
  docs/adr/005-isolation-strategy.md
  docs/adr/006-thread-safety.md
  docs/adr/007-coverage-calculation.md
  docs/adr/008-validation-architecture.md
  docs/adr/README.md
  docs/adr/SUMMARY.md
Due: none

Path conditions:
  symbolic-execution-security: any of: ^main\.py$
  crosshair-integration-test: any of: ^main\.py$
  memory-leak-check: any of: ^main\.py$
  fastmcp-compliance: any of: ^main\.py$
  security-test-runner: any of: \.py$
