Repository democratize-technology/symbolic-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

Path conditions:
  symbolic-execution-security: any of: ^main\.py$
  crosshair-integration-test: any of: ^main\.py$
  memory-leak-check: any of: ^main\.py$
  fastmcp-compliance: any of: ^main\.py$
  security-test-runner: any of: \.py$

📝 docs: align API documentation with actual implementation
  docs/api.md
  spec/Symbolic Execution MCP Specification.md
Due: none

📝 docs: add ADR-009 and ADR-010, close ADR documentation gaps
  TECH_DEBT.md
  docs/adr/009-error-handling.md
  docs/adr/010-contract-styles.md
  docs/adr/README.md
  docs/adr/SUMMARY.md
Due: none

♻️ refactor: eliminate cargo cult and vaporware from test infrastructure
  .github/workflows/health-check.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/test_branch_analysis.py
  tests/test_crosshair_initialization_integration.py
  tests/test_crosshair_real.py
  tests/test_equivalence_check.py
  tests/test_find_path_to_exception_schema.py
  tests/test_integration.py
  tests/test_real_crosshair_integration.py
  tests/test_symbolic_finds_bug.py
  tests/test_symbolic_schema_compliance.py
  tests/test_unreachable_exception.py
  tests/test_validation.py
  tests/test_validation_integration.py
Due: security-test-runner

♻️ refactor: eliminate cargo cult and vaporware from test infrastructure
  main.py
  tests/conftest.py
  tests/test_crosshair_real.py
  tests/test_validation.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

refactor: eliminate cargo cult and vaporware from lint infrastructure
  .bandit
  .flake8
  .github/workflows/health-check.yml
  .pre-commit-config.yaml
  .pylintrc
  pyproject.toml
Due: none

♻️ refactor: eliminate cargo cult and vaporware from lint infrastructure
  .bandit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

♻️ refactor: eliminate cargo cult from symbolic bug detection tests
  tests/test_symbolic_finds_bug.py
Due: security-test-runner

✨ feat: add OAuth authentication, MCP resources, and prompts
  docs/adr/011-authentication-authorization.md
  docs/adr/SUMMARY.md
  main.py
  tests/test_oauth_configuration.py
  tests/test_resources_and_prompts.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

💄 style: auto-format imports with linter
  main.py
  tests/test_oauth_configuration.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

📝 docs: add FastMCP compliance documentation
  README.md
  docs/api.md
Due: none

✨ feat: add MCP ToolAnnotations to all exported tools
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

♻️ refactor: simplify test suite and security config
  .bandit
  .pre-commit-config.yaml
  tests/test_module_name_uniqueness.py
Due: security-test-runner

♻️ refactor: extract _generate_wrapper_code and add missing type ignores
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

🔧 chore: sync mypy version and remove unnecessary type ignores
  .pre-commit-config.yaml
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

🔒️ chore: strengthen type safety with Literal types and PEP 561 marker
  main.py
  py.typed
  pyproject.toml
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

🔒️ chore: strengthen type safety with TypedDict for resource endpoints
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

[no-verify] Fix IndexError when parsing Import nodes with empty names list
  main.py
  tests/test_ast_edge_case_indexerror.py
  tests/test_complexity_calculation.py
  tests/test_equivalence_check.py
  tests/test_fastmcp_security.py
  tests/test_integer_parsing.py
  tests/test_symbolic_finds_bug.py
  tests/test_unreachable_exception.py
  tests/test_validation.py
  tests/test_validation_edge_cases.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

🔥 chore: remediate test suite cargo cult & vaporware
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/test_complexity_calculation.py
  tests/test_concurrent_safety.py
  tests/test_crosshair_real.py
  tests/test_equivalence_check.py
  tests/test_fastmcp_security.py
  tests/test_oauth_configuration.py
  tests/test_resource_cleanup.py
  tests/test_resources_and_prompts.py
  tests/test_symbolic_finds_bug.py
  tests/test_unreachable_exception.py
  tests/test_validation_integration.py
Due: security-test-runner

📝 docs: complete ADR gap analysis with 12 new architecture decisions
  docs/adr/012-single-file-architecture.md
  docs/adr/013-mcp-tool-surface-design.md
  docs/adr/014-stateless-request-model.md
  docs/adr/015-typeddict-return-types.md
  docs/adr/016-environment-variable-configuration.md
  docs/adr/017-timeout-cascade-configuration.md
  docs/adr/018-test-quality-gates.md
  docs/adr/019-python-version-compatibility.md
  docs/adr/020-mcp-resource-endpoints.md
  docs/adr/021-prompt-template-design.md
  docs/adr/022-dangerous-builtins-policy.md
  docs/adr/023-defense-in-depth-security.md
  docs/adr/README.md
Due: none

📝 docs: remediate ADR documentation gaps
  README.md
  docs/adr/SUMMARY.md
Due: none

🔥 test: remediate test suite cargo cult & vaporware
  tests/test_complexity_calculation.py
  tests/test_crosshair_real.py
  tests/test_equivalence_check.py
  tests/test_error_handling.py
  tests/test_integration.py
  tests/test_resources_and_prompts.py
  tests/test_symbolic_finds_bug.py
  tests/test_unreachable_exception.py
  tests/test_validation.py
  tests/test_validation_edge_cases.py
  tests/test_validation_integration.py
Due: security-test-runner

🔥 test: remediate test suite cargo cult & vaporware
  tests/test_crosshair_real.py
  tests/test_equivalence_check.py
  tests/test_error_handling.py
  tests/test_fastmcp_security.py
  tests/test_module_name_uniqueness.py
  tests/test_symbolic_finds_bug.py
  tests/test_unreachable_exception.py
Due: security-test-runner

✅ test: add missing type annotations for mypy strict compliance
  tests/conftest.py
  tests/test_complexity_calculation.py
  tests/test_concurrent_safety.py
  tests/test_error_handling.py
  tests/test_integration.py
  tests/test_oauth_configuration.py
  tests/test_resource_cleanup.py
  tests/test_resources_and_prompts.py
  tests/test_validation_edge_cases.py
Due: security-test-runner

🔧 chore: add pytest to mypy pre-commit dependencies
  .pre-commit-config.yaml
Due: none

🔧 chore: add missing type annotations for mypy strict compliance
  .pre-commit-config.yaml
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: add missing main() function for CLI entry point
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

fix: remove ghost dependencies icontract and RestrictedPython
  pyproject.toml
  requirements.txt
Due: none

fix: remove hallucinated coverage exclusions
  pyproject.toml
Due: none

fix: remove hallucinated crosshair_tool module from mypy config
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: correct delusional maturity classifier
  pyproject.toml
Due: none

✅ test: remediate test suite - eliminate flaky tests & add coverage
  tests/conftest.py
  tests/test_complexity_calculation.py
  tests/test_concurrent_safety.py
  tests/test_integration.py
  tests/test_resources_and_prompts.py
Due: security-test-runner

✅ test: remediate test suite - eliminate vaporware & strengthen assertions
  tests/test_fastmcp_security.py
  tests/test_integration.py
  tests/test_oauth_configuration.py
  tests/test_validation_edge_cases.py
Due: security-test-runner

♻️ refactor: tighten types for run_concurrent_test fixture
  tests/conftest.py
  tests/test_concurrent_safety.py
Due: security-test-runner

✨ feat: enhance health check testability and fix argument parser edge cases
  main.py
  tests/test_parser_edge_cases.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

🛡️ security: harden sandbox with AST introspection blocking and process isolation
  README.md
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

✅ types: replace Any with TypeVar in concurrent test fixtures
  tests/conftest.py
  tests/test_concurrent_safety.py
Due: security-test-runner

📝 docs: document Any usage rationale in test mock wrappers
  tests/test_resource_cleanup.py
Due: security-test-runner

✅ types: replace dict[str, Any] with TypedDict in compatibility checker
  scripts/check_fastmcp_compatibility.py
Due: security-test-runner

✅ types: eliminate type: ignore by fixing _version import
  main.py
Due: symbolic-execution-security, crosshair-integration-test, memory-leak-check, fastmcp-compliance, security-test-runner

✅ test: eliminate type: ignore with Protocol-based type guards
  tests/test_resource_cleanup.py
  tests/test_resources_and_prompts.py
Due: security-test-runner
